@page "/login"

@inject IAccountManagement Acct; // Injects the account management service for login functionality
@inject NavigationManager NavManager; // Injects the navigation manager for page redirection

<!-- Display error messages if login fails -->
@if (errorList.Length > 0)
{
    foreach (var error in errorList)
    {
                <div class="alert alert-danger">@error</div>
    }
}

<div class="px-4 py-5 min-vh-100 bg-black text-light">
    <div class="mx-auto" style="max-width: 400px;">
        <h3 class="mb-4 text-center text-light">🔐 Login</h3>
        <EditForm Model="@_SignInModel" OnValidSubmit="DoLoginAsync">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <label class="form-label text-secondary">Email address</label>
                <input type="email" class="form-control bg-dark text-light border-secondary" @bind-value="@_SignInModel.Email" />
                <ValidationMessage For="@(() => _SignInModel.Email)" class="text-danger small" />
            </div>
            <div class="mb-3">
                <label class="form-label text-secondary">Password</label>
                <input type="password" class="form-control bg-dark text-light border-secondary" @bind-value="@_SignInModel.Password" />
                <ValidationMessage For="@(() => _SignInModel.Password)" class="text-danger small" />
            </div>
            <div class="text-end mb-3">
                <NavLink class="text-decoration-none text-info small" href="/register">
                    <span>Create an account?</span>
                </NavLink>
            </div>
            <div class="text-center">
                <button class="btn btn-primary w-100 py-2" type="submit">
                    <span class="@_spinnerClass me-2" role="status" aria-hidden="true"></span>
                    Login
                </button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    // CSS class for showing a spinner during the login process
    private string _spinnerClass = "";

    // Model for capturing user login data
    private SignIn _SignInModel = new();

    // List of error messages returned from the login process
    private string[] errorList = [];

    // Handles the login process when the form is submitted
    public async Task DoLoginAsync()
    {
        // Show the spinner while processing the login
        _spinnerClass = "spinner-border spinner-border-sm";

        // Call the account management service to log in the user
        var result = await Acct.LoginAsync(_SignInModel.Email, _SignInModel.Password);

        if (result.Succeeded)
        {
            // Redirect to the home page if login is successful
            NavManager.NavigateTo("/");
        }
        else
        {
            // Hide the spinner and display error messages if login fails
            _spinnerClass = "";
            errorList = result.ErrorList;
        }
    }
}

